.hero {
  width: 100%;
  background-color: #266ad9;
}

.greeting {
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 16px;
  display: block;
  font-family: var(--font-quicksand);
}

.name {
  font-size: 88px;
  line-height: 120%;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 12px;
  font-family: var(--font-quicksand);
}

.role {
  font-size: 32px;
  line-height: 120%;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 32px;
  font-family: var(--font-quicksand);
}

.description {
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: var(--font-quicksand);
}

.cta {
  padding: 14px 32px;
  font-size: 20px;
  font-weight: 600;
  color: #4a6fdc;
  background-color: #ffffff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-family: var(--font-quicksand);
}

/* IMAGE */
.imageWrapper {
  width: 420px;
  height: 420px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.mobileWrapper {
  display: flex;
}

@media (max-width: 1024px) {
  .imageWrapper {
    width: 280px;
    height: 280px;
    flex-shrink: 0;
  }

  .mobileWrapper {
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
  }

  .textTop {
    order: 1;
  }

  .imageWrapper {
    order: 2;
  }

  .textBottom {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 39px;
    gap: 32px;
  }

  .textColumn {
    order: 1;
    max-width: 664px;
    flex: 1;
  }

  .imageWrapper {
    order: 2;
    width: 100%;
    max-height: 444px;
    margin: 32px 0;
  }

  .textBottom {
    order: 3;
  }

  .cta {
    width: fit-content;
    height: 47px;
    font-size: 16px;
  }

  .name {
    font-size: 40px;
    line-height: 46px;
  }

  .role {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
