.skills {
  width: 100%;
  background-color: #263238;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 110px;
  padding-right: 106px;
}

.title {
  font-size: 64px;
  line-height: 120%;
  font-weight: 700;
  font-size: bold;
  color: #ffffff;
  margin-bottom: 64px;
  font-family: var(--font-quicksand);
}

.subTitle {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card {
  position: relative;
  background-color: #34424d;
  border-radius: 20px;
  height: 180px;
  overflow: hidden;
}

.front {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  transition: opacity 0.2s ease;
}

.icon {
  width: 48px;
  height: 48px;
}

.label {
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  color: #ffffff;
  font-family: var(--font-reddit);
}

.back {
  position: absolute;
  inset: 0;
  background-color: #5b7192;
  border-radius: 20px;
  padding: 24px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.backTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: var(--font-reddit);
}

.backList {
  padding-left: 18px;
}

.backList li {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 6px;
}

.card:hover .front {
  opacity: 0;
}

.card:hover .back {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .title {
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 32px;
  }

  .subTitle {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 40px;
    font-family: var(--font-quicksand);
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .back {
    display: none;
  }

  .card {
    height: 140px;
  }
  .backTitle {
    font-size: 18px;
    font-weight: 600;
    font-size: semibold;
    line-height: 120%;
  }

  .backList li {
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
  }
}
