@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Reddit+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --font-quicksand: "Quicksand", sans-serif;
  --font-reddit: "Reddit Sans", sans-serif;

  /* Portfolio theme */
  --color-bg-stage: #262e34;
  --color-primary: #266ad9;
  --color-primary-bright: #5696ff;
  --color-primary-soft: #266ad91a;

  --color-surface: #344054;
  --color-surface-alt: #5b7192;
  --color-surface-muted: #34424d;
  --color-text-soft: rgba(255, 255, 255, 0.2);
  --color-text-tint: rgba(255, 255, 255, 0.33);
}

[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.portfolio-root {
  --color-text: #ffffff;
  --color-text-soft: rgba(255, 255, 255, 0.7);
  --color-text-tint: rgba(255, 255, 255, 0.33);

  --color-bg: #266ad9;
  --color-surface: #344054;
  --color-surface-alt: #5b7192;

  background-color: var(--color-bg);
  color: var(--color-text);

  min-height: 100vh;
}

html[data-theme="dark"] {
  --color-text: #ffffff;
}

html[data-theme="light"] {
  --color-text: #1c1e21;
}

html,
body,
.main-wrapper {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-reddit);
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-quicksand);
}

/* === GLOBAL LAYOUT CONTAINER === */
.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 72px 110px 110px;
  gap: 64px;
}

@media (max-width: 1280px) {
  .layout-container {
    padding-inline: 64px;
  }
}

@media (max-width: 1024px) {
  .layout-container {
    padding-inline: 48px;
  }
}

@media (max-width: 768px) {
  .layout-container {
    padding-inline: 24px;
  }
}
